@import 'arbalet'

img
    maxw 100
    dblock()

// html
//     minh 100
//     // lgradient to bottom right, #ededed, #fff
//     bg #222

html
    minh 100

body 
    // animation move-background 45s infinite linear
    overflow hidden
    bg linear-gradient(to top right, #111, #0008), url(https://grainy-gradients.vercel.app/noise.svg) 

@keyframes move-background 
    0%
        background-position 0 0
    
    100%
        background-position 100% 100%


