@import 'arbalet'

img
    maxw 100
    dblock()

scrollbar({
    size: 15px,
    thumb: #333,
    margin: 4px
})

html
    minh 100

body 
    overflow-x hidden

    // with noise
    // bg linear-gradient(to top right, #111, #0008), url(https://grainy-gradients.vercel.app/noise.svg), radial-gradient(circle at center, #fff8 50%, #fff0 100%)

    // without noise
    bg linear-gradient(to top right, #111, #0008), radial-gradient(circle at center, #fff8 50%, #fff0 100%)
